# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out
terraform-provider-foreman
client

# IDE
*.code-workspace
.idea/
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform-provider-foreman.log

# Build
build/
dist/

# Python
.ruff_cache/
__pycache__/

# OS
.DS_Store
