# {{ template "disclaimer" }}

# ------------------------------------------------------------------------------
# Project Information
# ------------------------------------------------------------------------------

site_name: Terraform Provider Foreman
site_url: https://github.com/terraform-coop/terraform-provider-foreman
repo_url: https://github.com/terraform-coop/terraform-provider-foreman
repo_name: terraform-provider-foreman
#edit_uri:
#site_description:
site_author: HanseMerkur Cloud Platform
#copyright:
#google_analytics
#remote_branch
#remote_name

# ------------------------------------------------------------------------------
# Documentation Layout
# ------------------------------------------------------------------------------

nav:
  - Home: 'index.md'
{{- if ne (len .DataSources) 0 }}
  - Data Sources:
  {{- range .DataSources }}
    - '{{ . }}': 'data-sources/{{ . }}.md'
  {{- end }}
{{- end }}
{{- if ne (len .Resources) 0 }}
  - Resources:
  {{- range .Resources }}
    - '{{ . }}': 'resources/{{ . }}.md'
  {{- end }}
{{- end }}

# ------------------------------------------------------------------------------
# Build Directories
# ------------------------------------------------------------------------------

theme:
  name: readthedocs
docs_dir: {{.DocsDir}}
site_dir: html
extra:
  repo_icon: github

# ------------------------------------------------------------------------------
# Preview Controls
# ------------------------------------------------------------------------------

#use_directory_urls
#strict
#dev_addr

# ------------------------------------------------------------------------------
# Formatting Options
# ------------------------------------------------------------------------------

markdown_extensions:
  - codehilite
  - toc:
      permalink: true
#plugins
